#root {
    height: 100vh;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    background-color: hsl(207, 26%, 17%);
}

.box-shadow {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    &:focus {
        outline: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.no-underline {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

input[type='text'] {
    color: hsl(0, 0%, 52%);
    &:focus {
        outline: none;
    }
}

.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.centered {
    text-align: center;
}

.white-background {
    background-color: hsl(0, 0%, 100%);
}

.white-text {
    color: hsl(0, 0%, 100%);
}

.dark-background {
    background-color: hsl(207, 26%, 17%);
}

.dark-text {
    color: hsl(200, 15%, 8%);
}

.dark-element {
    color: hsl(209, 23%, 22%);
}

.dark-element-background {
    background-color: hsl(209, 23%, 22%);
}

.grey-text {
    color: hsl(0, 0%, 69%);
    padding-right: 4px;
}

.bold {
    font-weight: 600;
}

.small-padding {
    padding: 4px 0;
}

.medium-padding {
    padding: 16px 0;
}

.invert-color {
    filter: brightness(0) invert(1);
}
